:root {
  --couleur-principale: #555;
  --couleur-secondaire: #000;
  --degrade: linear-gradient(35.74deg, rgba(167, 2, 154, 0.7) -2.92%, rgba(167, 2, 154, 0) 106.13%);
  --noir: #000;
  --blanc: #fff;
}