h1{
  font-family: var(--police-secondaire);
  font-size: 36px;
  color: var(--blanc);
}

h2{
  font-size: 80px;
  font-family: var(--police-secondaire);
}

h3{
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

h4{
  font-size: 18px;
  text-transform: uppercase;
}